<div class="ad-card tile is-parent mb-2 is-12">
  <div class="tile is-child card is-flex is-flex-direction-column">
    <div class="card-content" data-controller="card-dropdown">

      <div class="is-flex is-justify-content-space-between mb-4">
        <%= category_tag ad %>

        <div class="dropdown is-right ml-2" data-card-dropdown-target="dropdown">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-card-actions" data-action="card-dropdown#toggle">
              <span class="icon">
                <%= inline_svg_tag('dots-vertical.svg', aria: true) %>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu-card-actions" role="menu">
            <div class="dropdown-content" data-controller="clipboard">
              <a href="<%= ad_path(ad.to_param) %>" class="dropdown-item is-flex is-align-items-center">
                <span class="icon is-small mr-2">
                  <%= inline_svg_tag('link.svg', aria: true) %>
                </span>
                Otvori oglas
              </a>
              <a class="dropdown-item is-flex is-align-items-center" data-clipboard-target="button" data-clipboard-text="<%= ad_url(ad.to_param) %>">
                <span class="icon is-small mr-2">
                  <%= inline_svg_tag('clipboard.svg', aria: true) %>
                </span>
                Kopiraj poveznicu
              </a>
              <% if ad.editable? %>
                <hr class="dropdown-divider">
                <a class="dropdown-item is-flex is-align-items-center" href="<%= new_ad_token_path(ad, a: "edit") %>" >
                  <span class="icon is-small mr-2">
                    <%= inline_svg_tag('pen.svg', aria: true) %>
                  </span>
                  Uredi oglas
                </a>

                <a class="dropdown-item is-flex is-align-items-center has-text-danger" href="<%= new_ad_token_path(ad, a: "delete") %>" >
                  <span class="icon is-small mr-2">
                    <%= inline_svg_tag('trash.svg', aria: true) %>
                  </span>
                  Obriši oglas
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <h3 class="is-size-5"><%= ad.city %></h3>

        <%= simple_format ad.description %>

        <% if ad.address.present? %>
          <div>
            <div class="is-flex">
              <span class="icon mr-2">
                <%= inline_svg_tag('location.svg', aria: true) %>
              </span>

              <ul class="m-0">
                <li class="is-block"><%= ad.address %></li>
                <li class="is-block"><%= ad.zip_and_city %></li>
                <li class="is-block">
                  <a href="<%= maps_url(ad.full_address) %>" target="_blank" class="is-flex">
                  <span class="icon mr-2">
                    <%= inline_svg_tag('map.svg', aria: true) %>
                  </span>
                  Lokacija na karti
                  </a>
                </li>
              </ul>
            </div>
          </div>
        <% end %>

        <p class="has-text-right is-size-7 mt-5"><strong>Objavljeno</strong>: prije <%= time_ago_in_words ad.created_at %></p>
      </div>
    </div>

    <footer class="card-footer has-background-white-ter mt-auto">
      <div class="card-footer-item">
        <span class="icon mr-2">
          <%= inline_svg_tag('phone.svg', aria: true) %>
        </span>
        <strong><%= tel_to ad.phone %></strong>
      </div>
    </footer>
  </div>
</div>
