<div class="card mb-5 <%= ad.kind %>">
  <div class="card-content">
    <div class="content">
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons">
            <%= service_tag ad %>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Grad</span>
            <span class="tag is-info"><%= ad.zip_and_city%></span>
          </div>
        </div>

        <% if ad.address.present? %>
          <div class="control">
            <div class="tags has-addons">
              <span class="tag">Adresa</span>
              <span class="tag is-info"><%= ad.address %></span>
            </div>
          </div>
        <% end %>

        <div class="control">
          <a href="<%= maps_url(ad.full_address) %>" target="_blank" class="is-block">
            <div class="tags has-addons">
              <span class="tag">Lokacija na karti</span>
              <span class="tag is-info">
                <span class="icon is-small">
                  <%= inline_svg_tag('map.svg', aria: true) %>
                </span>
              </span>
            </div>
          </a>
        </div>
      </div>

      <%= simple_format ad.description %>

      <hr>

      <div class="columns">
        <div class="column">Telefon: <b><%= tel_to ad.phone %></b></div>
        <div class="column">Objavljeno: <b>prije <%= time_ago_in_words ad.created_at %></b></div>
      </div>
      <hr>
      <div class="columns" data-controller="clipboard">
        <div class="column">
          <a class="button" href="<%= ad_url(ad.to_param) %>">
            Otvori oglas
          </a>
          <button data-clipboard-target="button" class="button" data-clipboard-text="<%= ad_url(ad.to_param) %>">
            Kopiraj poveznicu na oglas
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
