<h1 class="title">Pomozimo žrtvama potresa</h1>
<h2 class="subtitle">Petrinja, Sisak i okolna mjesta</h2>

<%= link_to "Dodaj oglas", new_ad_path, class: "button is-link" %>

<div class="card" style="margin-bottom:41px">
  <div class="card-content">
    <%= form_with url: ads_path, method: :get do |f| %>
      <div class="field is-grouped">
        <div class="control">
          <div class="select">
            <%= select_tag :kind, options_for_select(%w[Smještaj Prijevoz], params[:kind]), prompt: "-- Svi tipovi --" %>
          </div>
        </div>

        <div class="control">
          <div class="select">
            <%= select_tag :city, options_for_select(Ad.order(:city).pluck("distinct(city)"), params[:city]), prompt: "-- Svi gradovi --" %>
          </div>
        </div>

        <div class="control">
          <%= f.submit "Filtriraj", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% @ads.each do |ad| %>
  <div class="card" style="margin-bottom:30px">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><%= ad.kind %></p>
        </div>
      </div>

      <div class="content">
        <div class="columns">
          <div class="column is-narrow">
            <div class="tags has-addons">
              <span class="tag">Grad</span>
              <span class="tag is-info"><%= city_and_zip ad %></span>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="tags has-addons">
              <span class="tag">Telefon</span>
              <span class="tag is-info"><%= ad.phone %></span>
            </div>
          </div>
        </div>

        <%= simple_format ad.description %>

        <hr>

        <div class="columns">
          <div class="column is-hidden-mobile">Grad: <b><%= city_and_zip ad %></b></div>
          <div class="column is-hidden-mobile">Telefon: <b><%= ad.phone %></b></div>
          <div class="column">Objavljeno: <b><%= ad.created_at.strftime("%d.%m.%Y. %H:%M") %></b></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
