<%= javascript_tag do %>
<% end %>

<div data-controller="filter">
  <%= link_to "Filtriraj", "#", class: "button is-block mb-4 is-hidden-tablet", data: { action: "filter#show", "filter-target": "show_button" } %>
  <div data-filter-target="container" class="mb-5 is-block-tablet">
    <%= form_with url: ads_path, method: :get do |f| %>
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="select">
            <%= select_tag :kind, options_for_select(Ad::KINDS, params[:kind]), prompt: "-- Svi tipovi --" %>
          </div>
        </div>

        <div class="control">
          <div class="select">
            <%= select_tag :city, options_for_select(Ad.order(:city).pluck("distinct(city)"), params[:city]), prompt: "-- Svi gradovi --" %>
          </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <%= f.submit "Filtriraj", class: "button is-primary" %>
          </p>
          <p class="control">
            <%= link_to "Odustani", "#", class: "button" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if filtered? %>
  <div class="mb-6">
    <% if params[:city].present? %>
      <span class="tag">
        <%= params[:city] %>
        <%= link_to "", params.permit(:kind), class: "delete is-small"  %>
      </span>
    <% end %>
    <% if params[:kind].present? %>
      <span class="tag">
        <%= params[:kind] %>
        <%= link_to "", params.permit(:city), class: "delete is-small"  %>
      </span>
    <% end %>
  </div>
<% end %>

<%= render @ads %>

<%= will_paginate @ads, renderer: BulmaPagination::Rails, class: 'is-centered', previous_label: "&larr;", next_label: "&rarr;", inner_window: 1, outer_window: 0 %>

<div class="content mt-6">
  <h3 class="title is-3">Ostale stranice sa popisima ponude smještaja i prijevoza:</h3>
  <ul>
    <li><a href="https://docs.google.com/document/d/15kSw0O1jtZYTeLh3jZg2XeGFbNbavIBsA0u_PvK8YRs/mobilebasic"  target="_blank">
      Pomoć obiteljima iz Petrinje, Siska i okolice - kontakti, smještaj i prijevoz - Google doc (preview)
    </a></li>
    <li><a href="https://docs.google.com/document/d/1yUxHtKCkkXEQ8tXTD2bODbisxwF5Q9zvPJoU27vQGUM/edit?fbclid=IwAR0g1F__7avcVpOlf__NQgBq626LDmDNyz42k545TT5MCjTLMvf4De9tvMs" target="_blank">
      Pomoć za Petrinju - Google doc
    </a></li>
    <li><a href="https://www.facebook.com/groups/155412969344431/permalink/155812429304485/" target="_blank">
      POMOC GLINI, PETRINJI, SISKU i okolnim mjestima - Facebook grupa
    </a></li>
    <li><a href="https://potres2020.openit.hr/views/map" target="_blank">
      Potres 2020 - mapa pomoći
    </a></li>
  </ul>
</div>
