<%= javascript_tag do %>
<% end %>

<h1 class="title">Pomozimo žrtvama potresa</h1>
<h2 class="subtitle">Petrinja, Sisak i okolna mjesta</h2>

<div style="margin-bottom:40px">
  <%= link_to "Dodaj oglas", new_ad_path, class: "button is-link" %>
  <%= link_to "Filtriraj", "#", id: "filter-show", class: "button" %>
</div>

<div id="filter-card" class="card" style="margin-bottom:40px">
  <div class="card-content">
    <%= form_with url: ads_path, method: :get do |f| %>
      <div class="columns">
        <div class="column is-narrow">
          <div class="field">
            <div class="control">
              <div class="select">
                <%= select_tag :kind, options_for_select(Ad::KINDS, params[:kind]), prompt: "-- Svi tipovi --" %>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-narrow">
          <div class="field">
            <div class="control">
              <div class="select">
                <%= select_tag :city, options_for_select(Ad.order(:city).pluck("distinct(city)"), params[:city]), prompt: "-- Svi gradovi --" %>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-narrow">
          <div class="field">
            <div class="control">
              <%= f.submit "Filtriraj", class: "button is-primary" %>
              <%= link_to "Odustani", "#", id: "filter-hide", class: "button" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if filtered? %>
  <div style="margin-bottom:40px">
    <% if params[:city].present? %>
      <span class="tag">
        <%= params[:city] %>
        <%= link_to "", params.permit(:kind), class: "delete is-small"  %>
      </span>
    <% end %>
    <% if params[:kind].present? %>
      <span class="tag">
        <%= params[:kind] %>
        <%= link_to "", params.permit(:city), class: "delete is-small"  %>
      </span>
    <% end %>
  </div>
<% end %>

<% @ads.each do |ad| %>
  <div class="card" style="margin-bottom:30px">
    <div class="card-content">
      <div class="content">
        <div class="columns is-desktop">
          <div class="column is-narrow">
            <div class="tags">
              <%= kind_tag ad %>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="tags has-addons">
              <span class="tag">Grad</span>
              <span class="tag is-info"><%= ad.city %></span>
            </div>
          </div>
          <% if ad.zip.present? %>
            <div class="column is-narrow">
              <div class="tags has-addons">
                <span class="tag">Poštanski broj</span>
                <span class="tag is-info"><%= ad.zip %></span>
              </div>
            </div>
          <% end %>
          <% if ad.address.present? %>
            <div class="column is-narrow">
              <div class="tags has-addons">
                <span class="tag">Adresa</span>
                <span class="tag is-info"><%= ad.address %></span>
              </div>
            </div>
          <% end %>
        </div>

        <%= simple_format ad.description %>

        <hr>

        <div class="columns">
          <div class="column">Telefon: <b><%= tel_to ad.phone %></b></div>
          <div class="column">Objavljeno: <b>prije <%= time_ago_in_words ad.created_at %></b></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @ads, renderer: BulmaPagination::Rails, class: 'is-centered', previous_label: "&larr;", next_label: "&rarr;" %>

<div class="content">
  <h3 class="title is-3">Ostale stranice sa popisima ponude smještaja i prijevoza:</h3>
  <ul>
    <li><a href="https://docs.google.com/document/d/15kSw0O1jtZYTeLh3jZg2XeGFbNbavIBsA0u_PvK8YRs/mobilebasic"  target="_blank">
      Pomoć obiteljima iz Petrinje, Siska i okolice - kontakti, smještaj i prijevoz - Google doc (preview)
    </a></li>
    <li><a href="https://docs.google.com/document/d/1yUxHtKCkkXEQ8tXTD2bODbisxwF5Q9zvPJoU27vQGUM/edit?fbclid=IwAR0g1F__7avcVpOlf__NQgBq626LDmDNyz42k545TT5MCjTLMvf4De9tvMs" target="_blank">
      Pomoć za Petrinju - Google doc
    </a></li>
    <li><a href="https://www.facebook.com/groups/155412969344431/permalink/155812429304485/" target="_blank">
      POMOC GLINI, PETRINJI, SISKU i okolnim mjestima - Facebook grupa
    </a></li>
    <li><a href="https://potres2020.openit.hr/views/map" target="_blank">
      Potres 2020 - mapa pomoći
    </a></li>
  </ul>
</div>
