<div class="tabs">
  <ul>
    <li class=<%= class_if('is-active', ['ponuda', '', nil].include?(params[:type])) %>>
      <%= link_to "Nudim Pomoć", root_path %>
    </li>
    <li class=<%= class_if('is-active', params[:type] == 'potražnja') %>>
      <%= link_to "Tražim Pomoć", ads_path(type: "potražnja") %>
    </li>
  </ul>
</div>

<div data-controller="filter">
  <div class="mb-6">
    <%= link_to "Dodaj oglas", new_ad_path(type: params[:type]), class: "button is-link" %>
    <%= link_to "Filtriraj", "#", class: "button", data: { action: "filter#show", "filter-target": "show_button" } %>
  </div>

  <div data-filter-target="container" class="card mb-6">
    <div class="card-content">
      <%= form_with url: ads_path, method: :get do |f| %>
        <%= f.hidden_field :type, value: params[:type] %>

        <div class="columns">
          <div class="column is-narrow">
            <div class="field">
              <div class="control">
                <div class="select">
                  <%= select_tag :kind, options_for_select(Ad::KINDS, params[:kind]), prompt: "-- Svi tipovi --" %>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-narrow">
            <div class="field">
              <div class="control">
                <div class="select">
                  <%= select_tag :city, options_for_select(Ad.order(:city).pluck("distinct(city)"), params[:city]), prompt: "-- Svi gradovi --" %>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-narrow">
            <div class="field">
              <div class="control">
                <%= f.submit "Filtriraj", class: "button is-primary" %>
                <%= link_to "Odustani", "#", class: "button", data: { action: "filter#hide" } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if filtered? %>
  <div class="mb-6">
    <% if params[:city].present? %>
      <span class="tag">
        <%= params[:city] %>
        <%= link_to "", params.permit(:kind, :type), class: "delete is-small"  %>
      </span>
    <% end %>
    <% if params[:kind].present? %>
      <span class="tag">
        <%= params[:kind] %>
        <%= link_to "", params.permit(:city, :type), class: "delete is-small"  %>
      </span>
    <% end %>
  </div>
<% end %>

<%= render @ads %>

<%= will_paginate @ads, renderer: BulmaPagination::Rails, class: 'is-centered', previous_label: "&larr;", next_label: "&rarr;", inner_window: 1, outer_window: 0 %>

<div class="content">
  <h3 class="title is-3">Ostale stranice sa popisima ponude smještaja i prijevoza:</h3>
  <ul>
    <li><a href="https://docs.google.com/document/d/15kSw0O1jtZYTeLh3jZg2XeGFbNbavIBsA0u_PvK8YRs/mobilebasic"  target="_blank">
      Pomoć obiteljima iz Petrinje, Siska i okolice - kontakti, smještaj i prijevoz - Google doc (preview)
    </a></li>
    <li><a href="https://docs.google.com/document/d/1yUxHtKCkkXEQ8tXTD2bODbisxwF5Q9zvPJoU27vQGUM/edit?fbclid=IwAR0g1F__7avcVpOlf__NQgBq626LDmDNyz42k545TT5MCjTLMvf4De9tvMs" target="_blank">
      Pomoć za Petrinju - Google doc
    </a></li>
    <li><a href="https://www.facebook.com/groups/155412969344431/permalink/155812429304485/" target="_blank">
      POMOC GLINI, PETRINJI, SISKU i okolnim mjestima - Facebook grupa
    </a></li>
    <li><a href="https://potres2020.openit.hr/views/map" target="_blank">
      Potres 2020 - mapa pomoći
    </a></li>
  </ul>
</div>
