<%= render "kind_tabs" %>

<% if false %>
<div data-controller="filter">
  <%= link_to "Filtriraj", "#", class: "button is-block mb-4 is-hidden-tablet", data: { action: "filter#show", "filter-target": "show_button" } %>
  <div data-filter-target="container" class="mb-5 is-block-tablet">
    <%= form_with url: ads_path, method: :get do |f| %>
      <%= f.hidden_field :kind, value: params[:kind] %>

      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="select">
            <%= select_tag :category, options_for_select(categories_for_select, params[:category]), prompt: "-- Sve usluge --" %>
          </div>
        </div>

        <div class="control">
          <div class="select">
            <%= select_tag :city_id, options_for_select(cities_for_filter_select, params[:city_id]), prompt: "-- Svi gradovi --" %>
          </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <%= f.submit "Filtriraj", class: "button is-primary" %>
          </p>
          <p class="control">
            <%= link_to "Odustani", "#", class: "button" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<% if filtered? %>
  <div class="tags mb-6">
    <% if params[:city_id].present? %>
      <span class="tag is-medium is-white">
        <%= City.find_by(id: params[:city_id])&.name %>
        <%= link_to "", params.permit(:category, :kind), class: "delete ml-2" %>
      </span>
    <% end %>
    <% if params[:category].present? %>
      <span class="tag is-medium is-white">
        <%= t("ad.categories.#{params[:category]}") %>
        <%= link_to "", params.permit(:city_id, :kind), class: "delete ml-2" %>
      </span>
    <% end %>
  </div>
<% end %>

<div class="tile is-ancestor is-flex-wrap-wrap">
  <%= render @ads %>
</div>

<%= will_paginate @ads, renderer: BulmaPagination::Rails, class: 'is-centered', previous_label: "&larr;", next_label: "&rarr;", inner_window: 1, outer_window: 0 %>
