<h3 class="subtitle">Novi oglas</h3>

<% if @ad.errors.any? %>
  <article class="message is-danger">
    <div class="message-header">
      <p>Došlo je do greške!</p>
    </div>
    <div class="message-body">
      <% @ad.errors.full_messages.each do |message|  %>
        <%= message %>
        <br/>
      <% end %>
    </div>
  </article>
<% end %>

<%= form_with model: @ad do |f| %>
  <%= f.invisible_captcha :title %>

  <div class="field">
    <%= f.label :kind, class: "label" %>
    <div class="control">
      <div class="select">
        <%= f.select :kind, Ad::KINDS %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :zip, class: "label" %>
    <div class="control">
      <%= f.text_field :zip, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :city, class: "label" %>
    <div class="control">
      <%= f.text_field :city, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :address, class: "label" %>
    <div class="control">
      <%= f.text_field :address, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone, "Kontakt telefon", class: "label" %>
    <div class="control">
      <%= f.text_field :phone, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, class: "label" %>
    <div class="control">
      <%= f.text_area :description, class: "input", style: "min-height:8em" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.check_box :consent %>
      <%= f.label :consent, 'Pristajem da se oglas spremi sa svim navedenim podacima i pristajem da se oglas javno objavi.', class: "checkbox" %>
    </div>
  </div>

  <div class="is-flex is-align-items-center">
    <%= f.submit "Spremi", class: "button is-primary" %>
    <%= link_to "Odustani", ads_path, class: "has-text-grey ml-4" %>
  </div>
<% end %>
