<h1 class="title">Pomozimo žrtvama potresa</h1>
<h2 class="subtitle">Novi oglas</h2>

<% if @ad.errors.any? %>
  <article class="message is-danger">
    <div class="message-header">
      <p>Došlo je do greške!</p>
    </div>
    <div class="message-body">
      <%= @ad.errors.full_messages.to_sentence %>
    </div>
  </article>
<% end %>

<%= form_with model: @ad do |f| %>
  <div class="field">
    <%= f.label :kind, class: "label" %>
    <div class="control">
      <div class="select">
        <%= f.select :kind, %w[Smještaj Prijevoz] %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :zip, class: "label" %>
    <div class="control">
      <%= f.text_field :zip, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :city, class: "label" %>
    <div class="control">
      <%= f.text_field :city, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone, "Kontakt telefon", class: "label" %>
    <div class="control">
      <%= f.text_field :phone, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, class: "label" %>
    <div class="control">
      <%= f.text_area :description, class: "input", style: "min-height:8em" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.check_box :consent %>
      <%= f.label :consent_at, 'Pristajem da se oglas spremi sa svim navedenim podacima i pristajem da se oglas javno objavi.', class: "checkbox" %>
    </div>
  </div>

  <%= f.submit "Spremi", class: "button is-primary" %>
  <%= link_to "Nazad na naslovnicu", ads_path, class: "button" %>
<% end %>
