<h1 class="title">Pomozimo žrtvama potresa</h1>
<h2 class="subtitle">Oglas</h2>

<div class="card" style="margin-bottom:30px">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= @ad.kind %></p>
      </div>
    </div>

    <div class="content">
      <div class="columns is-mobile">
        <div class="column is-narrow">
          <div class="tags has-addons">
            <span class="tag">Grad</span>
            <span class="tag is-info"><%= @ad.city %></span>
          </div>
        </div>
        <div class="column is-narrow">
          <div class="tags has-addons">
            <span class="tag">Poštanski broj</span>
            <span class="tag is-info"><%= @ad.zip %></span>
          </div>
        </div>
      </div>

      <%= @ad.description %>

      <hr>

      <div class="columns">
        <div class="column is-hidden-mobile">Grad: <b><%= @ad.zip %>, <%= @ad.city %></b></div>
        <div class="column">Telefon: <b><%= @ad.phone %></b></div>
        <div class="column">Objavljeno: <b><%= @ad.created_at.strftime("%H:%M %d.%m.%Y.") %></b></div>
      </div>
    </div>
  </div>
</div>

<br />

<%= form_with model: Comment do |f| %>
  <%= f.hidden_field :ad_id, value: @ad.id %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://icon-library.com/images/instagram-comment-icon/instagram-comment-icon-22.jpg">
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <%= f.label :name, 'Ime i prezime', class: 'label' %>
        <p class="control">
          <%= f.text_field :name, class: 'input', value: '' %>
        </p>
      </div>
      <div class="field">
        <%= f.label :body, 'Komentar', class: 'label' %>
        <p class="control">
          <%= f.text_area :body, class: 'input' %>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <%= f.submit 'Pošalji', class: 'button is-info' %>
          </div>
        </div>
      </nav>
    </div>
  </article>
<% end %>

<hr>

<h2><b>Komentari</b></h2>
<br />

<%- @ad.comments.each do |comment| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://freeiconshop.com/wp-content/uploads/edd/person-outline.png">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.name %></strong> <small><%= time_ago_in_words(comment.created_at) %></small>
          <br>
          <%= comment.body %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
<% end %>
