<div class="external-links card mb-6" data-controller="card">
  <a href="javascript:void(0)" class="card-header" data-action="card#toggle" aria-label="hide links">
    <span class="card-header-title">
      Kako mogu pomoći?
    </span>
    <span class="card-header-icon">
      <span class="icon chevron" data-card-target="chevron">
        <%= inline_svg_tag('chevron-right.svg', aria: true) %>
      </span>
    </span>
  </a>
  <div class="card-content" data-card-target="content" hidden>
    <div class="help-category">
      <div class="media">
        <div class="media-left">
          <span class="icon is-large">
            <%= inline_svg_tag('globe.svg', aria: true) %>
          </span>
        </div>
        <div class="media-content">
          <h3 class="title is-4">Vanjske poveznice</h3>
          <h4 class="subtitle is-6">Provjerene poveznice na korisne dokumente i web stranice</h4>
        </div>
      </div>
      <ul class="content pl-2">
        <li class="is-flex is-align-self-flex-start my-1">
          <span class="icon mr-2">
            <%= inline_svg_tag('file-word.svg', aria: true) %>
          </span>
          <a href="https://docs.google.com/document/d/15kSw0O1jtZYTeLh3jZg2XeGFbNbavIBsA0u_PvK8YRs">
            Pomoć obiteljima iz Petrinje, Siska i okolice - kontakti, smještaj i prijevoz
          </a>
        </li>
        <li class="is-flex is-align-self-flex-start my-1">
          <span class="icon mr-2">
            <%= inline_svg_tag('file-word.svg', aria: true) %>
          </span>
          <a href="https://docs.google.com/document/d/1yUxHtKCkkXEQ8tXTD2bODbisxwF5Q9zvPJoU27vQGUM">
            Pomoć za Petrinju
          </a>
        </li>
        <li class="is-flex is-align-self-flex-start my-1">
          <span class="icon mr-2">
            <%= inline_svg_tag('facebook-square.svg', aria: true) %>
          </span>
          <a href="https://www.facebook.com/groups/155412969344431/permalink/155812429304485/">
            Pomoć Glini, Petrinji, Sisku i okolnim mjestima
          </a>
        </li>
        <li class="is-flex is-align-self-flex-start my-1">
          <span class="icon mr-2">
            <%= inline_svg_tag('atlas.svg', aria: true) %>
          </span>
          <a href="https://potres2020.openit.hr/views/map">
            Potres 2020 - mapa pomoći
          </a>
        </li>
        <li class="is-flex is-align-self-flex-start my-1">
          <span class="icon mr-2">
            <%= inline_svg_tag('hand-holding-heart.svg', aria: true) %>
          </span>
          <a href="https://potres-help.com">
            Potres help - organizacija volontera
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
