<!DOCTYPE html>
<html>
  <head>
    <title>Potres - Petrinja, Sisak i okolna mjesta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials.dig(:google_analytics) %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= Rails.application.credentials.dig(:google_analytics) %>');
      </script>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="google-analytics">
    <section class="section">
      <div class="container">
        <h1 class="title">Pomozimo žrtvama potresa</h1>
        <h2 class="subtitle">Petrinja, Sisak i okolna mjesta</h2>
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </section>
    <script src="https://kit.fontawesome.com/780c490760.js" crossorigin="anonymous"></script>
  </body>
</html>
