<!DOCTYPE html>
<html>
  <head>
    <title>Potres - Petrinja, Sisak, Glina i okolna mjesta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials.dig(:google_analytics) %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= Rails.application.credentials.dig(:google_analytics) %>');
      </script>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-light" data-controller="google-analytics">
    <section class="hero is-dark is-bold">
      <div class="hero-body is-relative">
        <div class="hero-background"></div>
        <div class="container">
          <h1 class="title">Pomozimo žrtvama potresa</h1>
          <h2 class="subtitle">Petrinja, Sisak, Glina i okolna mjesta</h2>
          <%= link_to "Dodaj oglas", new_ad_path(kind: params[:kind]), class: "button is-white is-medium" %>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <%= render 'layouts/links' %>
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
        Ova je aplikacija humanitarni projekt otvorenog tipa gdje svi mogu sudjelovati i doprinijeti istome. Jedina namjena ove aplikacije jest pomoć unesrećenima u potresu na područjima Gline, Siska, Petrinje i okolnih sela i naselja.<br>
        Aplikacija u funkciji služi kao oglasnik između onih koji nude i potražuju pomoć u unesrećenim područjima. Korištenje aplikacije u potpunosti je besplatno, te oglas može postaviti bilo koji građanin Republike Hrvatske, Europske Unije i susjednih zemalja.<br>
        Projekt web aplikacije napravljen je u suradnji <%= link_to "više programskih inženjera i stručnjaka", "https://github.com/vlado/earthquake-croatia/graphs/contributors" %>, koji su dobrovoljno sudjelovali u stvaranju, održavanju i nadogradnji ove aplikacije.
        </p>
      </div>
    </footer>
  </body>
</html>
